.fondo1 {
    background: linear-gradient(90deg, rgb(66, 136, 101), 0%, rgb(79, 163, 102) 35%, rgb(31, 73, 41) 100%);
  }
  
  .containerform {
    margin-top: 100px;
  }
  
  .contenedorPadre {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
