.body {
    background: linear-gradient(90deg, rgb(66, 136, 101), 0%, rgb(71, 150, 92) 35%, rgb(31, 73, 41) 100%);
    background: url(../menuig/fondo.jpg.jpg);
  }


  
  .text1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px;
  }
  
  .subt1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include anclas;
  }
  
  .titulo1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .parrafo1 {
    display: flex;
    text-align: center;
    width: 20%;
    height: 3%;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
  }
  
  .titulo2 {
    text-align: center;
    margin: 20px;
  }
  
  .parrafo2 {
    text-align: center;
    width: 400px;
    height: 300px;
    margin-left: 750px;
  }
  
  .titulo3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .parrafo3 {
    text-align: center;
    width: 400px;
    height: 300px;
    margin-left: 750px;
  }
  
  .contenedorimg {
    text-align: center;
  }
  